.actions {
  margin-top: 50px;
}

a.button {
  padding: 10px 15px;
  display: inline-block;
  min-width: 100px;
  text-align: center;
  color: $action-text-color;
  background-color: $action-color;
  border-radius: $border-radius;
  text-decoration: none;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;

  &:hover {
    background-color: lighten($action-color, 5);
  }
}


@include media($large-screen-up) {
  a.button {
    padding: 10px 75px;
  }
}
