body {
  margin: 0;
  background-color: $outer-background-color;
}

.outer-container {
  @include outer-container(100%);
}

.container {
  display: flex !important; /* don't allow span-columns to change */
  min-height: 100vh;
  flex-direction: column;
  background-color: $inner-background-color;
}

.content-container {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.footer {
  padding: 7px 25px 15px 7px;
  text-align: right;
  font-size: 0.7em;

  p {
    display: inline-block;
    line-height: 34px;
    margin: 0;
  }

  p, img {
    vertical-align: bottom;
  }
}

.start-over {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid $outer-background-color;
}


@include media($large-screen-up) {
  .container {
    @include span-columns(8);
    @include shift(2);

    min-height: 95vh;
    border-radius: 15px;
    margin-top: 20px
  }

  .content-container {
    padding: 50px 240px;
  }
}

@include media($very-large-screen-up) {
  .container {
    @include span-columns(6);
    @include shift(3);
  }
}
