body {
  margin: 0;
  background-color: $outer-background-color;
}

.outer-container {
  @include outer-container(100%);
}

.container {
  display: flex !important; /* don't allow span-columns to change */
  min-height: 100vh;
  flex-direction: column;
  background-color: $inner-background-color;
}

.content-container {
  flex: 1;
  padding: 20px;
}

.footer {
  padding: 7px;
  text-align: right;
  font-size: 0.8em;
  border-top: 2px solid $outer-background-color;
}


@include media($large-screen-up) {
  .container {
    @include span-columns(6);
    @include shift(3);
  }

  .content-container {
    padding: 50px;
  }
}
