@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic|Ubuntu+Condensed);

body {
  font-size: 1.4em;
}

p, div {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, .button {
  font-family: 'Ubuntu Condensed', sans-serif;
}
