// Neat Breakpoints
$small-screen: 480px;
$medium-screen: 600px;
$large-screen: 1350px;
$very-large-screen: 1800px;

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 12);
$very-large-screen-up: new-breakpoint(min-width $very-large-screen 12);


/* Colors */

$action-color: #2799f0;
$action-text-color: #ffffff;
$border-color: rgb(100, 100, 100);
$outer-background-color: #e4e4e4;
$inner-background-color: white;
$subdued-text: #aaaaaa;

/* Misc */

$border-radius: 5px;
