<div class="outer-container">
  <div class="container">
    {{outlet}}
  </div>

  <div class="footer">
    Made with love by <a href="https://www.foraker.com" target="_blank">Foraker Labs</a>
  </div>
</div>
