<div class="outer-container">
  <div class="container">
    <div class="content-container">
      {{outlet}}
    </div>

    <div class="footer">
      <img src="/foraker.png" width="40" height="34">
      <p>
        Made with love by <a href="https://www.foraker.com" target="_blank">Foraker Labs</a>
      </p>
    </div>
  </div>
</div>
